 *{
  margin: 0;
  padding: 0;
  outline: 0;
 }
 .continer{
  width: 90%;
  margin: auto;
 }
 body{
    
font-family: 'Work Sans', sans-serif;
height: 1000px;
 }
 .header{
    background-image: url('/images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    text-align: right;
 }
 .banner-text{
  margin-top: 90px;
 }
 .banner-title {
  font-size: 37px;
  font-weight: 800;
  margin-bottom: 10px;
}
.banner-p {
  font-size: 17px;
  font-weight: 500;
}
.btn {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #F15B22;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
/* kjhk */
 .section{
   padding:216px 200px 365px 600px;
   
 }
 .main-brance{
   border-radius: 527.929px;
   display: flex;
   align-items: center;
 }
 .profile-pic{
   width: 451px;
   height: 898px;
   /* margin-left: 100px; */
 }
 .section-title-main{
   width: 288px;
   color: #151414;
   font-size: 40px;
   font-weight: 700;
 }
 .section-descripetion-menu{
   width: 416px;
   color: #444343;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
 }
 ul li{
   list-style: none;
 }
 .fa-check{
   color: #16D887;
   width: 24px;
   height: 24px;
 }
 .my-plan{
   display: flex;
   text-align: center;
   width: 100%;
  justify-content: space-between;
 }
 .plan-title{
  margin-top: 50px;
 }
 .section-title-bannar{
   color: #151414;
   font-size: 40px;
   font-weight: 700;
   text-align: center;
 }
 /* .card-container{
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 55px;
  margin: 220px;
 } */
 .card-container, div{
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 20px ;
 }
 .g-img{
  background-image: url('../images/watch.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  height: 298px;
  border: none;
  border-radius: 8px;
  position: relative; 
 }
 .g-title{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
  padding-left: 80px;
 }
 .img-title {
  font-size: 41px;
  padding-bottom: 20px;
  color: white;
}
.btn-gradiand{
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: white;
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.footer-container{
  background-color: #151414;
  display: flex;

}
.footer-title{
color: #F8F8F8;
font-size: 35px;
font-weight: 700;
}
.footer-description{
color: #FFF;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.icon{
width: 175px;
height: 46px;
}
.footer-email{
  color:#F3F3F3;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid #FFF;
  padding: 10px 130px 10px 15px;
}
.footer-btn{
  width: 170.106px;
  height: 64px;
  color: #F15B22;
  font-size: 20px;
  font-weight: 600;
  
}